
#main {
    display: block;
    margin: 0 auto; 
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top:10px;
    padding-left:32px;
    font-family: "Arial";
}

#banner {
    font-family: "Arial";
    color: grey;
    text-align: center;
}

video{
    display: block;
    margin: 0 auto;
}

#img{
    display: block;
    margin: 0 auto;
}
